@model RamenOkiDoki.ViewModels.FoodItemsViewModel

<div>

    @{
        if (Model.OrderedItems == null)
        {
            return;
        }

        <h2 style="text-align: center">Your Order</h2>
        <table class="order-item-table">
            <tr><th>Quantity</th><th></th><th>Item</th><th>Price</th></tr>
            @foreach (var menuItem in Model.OrderedItems)
            {
                <tr>
                    <td class="order-item" style="text-align: center">@menuItem.quantity </td>
                    <td class="order-item">@menuItem.koreanName </td>
                    <td class="order-item">@menuItem.dishName </td>
                    <td class="order-item">$ @menuItem.price</td>
                </tr>
            }
        </table>

    }

</div>
  
