@using RamenOkiDoki.Views
@using RamenOkiDoki.Views.Shared.Components.Authentications

@{
    ViewData["Title"] = "Create Account";
}

<h1 class="page-titles">Create Account</h1>

@*@(await Html.RenderComponentAsync<Counter>(RenderMode.Server))*@

@(await Html.RenderComponentAsync<Registration>(RenderMode.Server))