@using RamenOkiDoki.Views.Shared.Components.Authentications
@*@using RamenOkiDoki.Views.Shared.Components.Authentications*@

@{
    ViewData["Title"] = "Create Account";
}

<h1 class="page-titles">Create Account</h1>
<div style="margin-top:0; padding:0">
@(await Html.RenderComponentAsync<Registration>(RenderMode.Server))
     <span style="text-align:center">Already have an account? <a class="link" asp-area="" asp-controller="MyAccount" asp-action="SignIn" >Sign In</a></span>
     </div>