@model Data.ViewModels.FoodMenuViewModel
@{
    ViewData["Title"] = "Take Out";
}



        <div  class="food-order-cart" style="margin-top:20px">

            @await Component.InvokeAsync("FoodOrderCart")


        </div>
  

