.header {
    margin-bottom: 0;
}

a.nav-link {
    color: white !important;
    font-size: 1.3em !important;
    margin: 0 10px 0 10px;
}

a.nav-link:hover {
    color: red !important;
    font-size: 1.2em !important;
}

.navbar {
    margin-bottom: 0 !important;
    border: none !important;
    border-bottom: 1px solid red !important;
    background-color: black !important;
}

.navbar-brand {
    text-align: left;
    word-break: keep-all;
    padding: 0px;
    font-family: 'Merienda', cursive;
    font-size: 2.5em;
    margin: 0px;
    color: red !important;
    vertical-align: middle;
}

.navbar-nav {
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.dropdown-menu {
    background-color: black;
    padding: 20px;
}

.dropdown-item {
    background-color: black !important;
}

/*.container {
    width: 100vw !important;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
}
*/

.container-fluid {
    margin: 0;
    padding: 0;
}
.footer {
    flex-shrink: 0;  Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. 
    padding: 3px;
    background-color: black;
    color: white !important;
    bottom: 0;
    margin-top: -50px;
/*    width: 100vw;*/
    border-top: 1px solid red !important;  Vertically center the text there 
}

.page-titles {
    font-family: 'Merienda', cursive;
    font-size: 3em;
    text-align: center;
    margin: 20px 0 50px 0;
}

@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot");
    src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}