/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
    color: red;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    /* Margin bottom by footer height */
    margin-bottom: 0px;
    width: 100vw !important;
    height: 100% !important;
    background-image: linear-gradient(165deg, white, #fff2e6);
}

.non-sidebar-page {
    display: block;
    padding: 10px;
}



.combo-page {
    display: inline !important;
    width: 100% !important;
    padding: 0;
    margin: 0;
}


.page-titles {
    font-family: 'Merienda', cursive;
    font-size: 3.5em;
    text-align: center;
    margin: 30px 0 100px 0;
}

.categoryName {
    color: darkred;
    font-family: 'Merienda', cursive;
    font-size: 2em;
    margin: 50px 0 20px 0;
    text-align: center;
}


.google-map-div {
    margin-top: 120px;
    padding: 100px;
    width: 100vw;
}

#map {
    height: 100%;
    width: 100vw;
    margin: 0px auto;
    display: inline-block
}

.googlemap {
}


/*     Food Menu     */
#btnClick {
    font-size: 18px;
    padding: 5px;
    border: 1px solid black;
}

    #btnClick:hover {
        background-color: red;
    }

.dine-in-menuitems-list {
    -webkit-columns: 40px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 2;
    /* Firefox */
    columns: 60px 2;
    /*   background-color: linen;*/
    padding: 5px;
    margin: 10px;
    /*   border-radius: 10px;*/
}

#slider {
    width: 490px;
    height: 390px;
    margin: 10px;
    opacity: 1;
    transition: opacity 500ms;
}

    #slider.fadeOut {
        opacity: 0.1;
    }


.menuItem {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.menuPrice {
    font-size: 16px;
    margin-left: 30px;
}

.menuDescription {
    font-size: 14px;
    font-style: italic;
    margin-top: -20px;
}

.add-menu-item-control {
    padding: 10px !important;
    border: 4px solid black !important;
}

.add-item-button {
    border: 0px transparent;
    margin: 20px 0px 10px 0px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.menu-table-div {
    display: inline-block;
    float: left;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.combo-page {
    margin: 0;
    padding: 0;
}

.right-side-content {
    display: inline-block;
    margin: 0 0 0 200px;
}

.left-menu-sidebar {
    display: inline-block;
    background-color: black;
    float: left;
    width: auto;
    height: 100vh !important;
    padding: 20px;
    margin-right: 0;
}

    .left-menu-sidebar a {
        font-size: 20px;
        font-weight: bold;
    }


.admin-div {
    display: inline-block;
    margin-left: 200px;
}

.admin-nav-sidebar {
    background-color: black;
    float: left;
    width: auto;
    height: 100vh !important;
    padding: 20px;
    margin: 0;
}


a.admin-nav-link {
    margin: 10px 0px;
    display: block;
    color: white !important;
    font-size: 1.3em !important;
    margin: 10px;
    text-decoration-line: none;
    font-weight: bold;
}

    a.admin-nav-link:hover {
        color: red !important;
        font-weight: bolder;
    }

.form-hours-group {
    margin-bottom: 15px;
}

    .form-hours-group input {
        width: 80px;
        height: 25px;
    }

.form-addon-group {
    margin-bottom: 15px;
}

    .form-addon-group input {
        width: 60px;
        height: 25px;
    }

.menu-edit-table {
    padding: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1.2em;
}

    .menu-edit-table th {
        text-align: center;
        font-size: 1.4em;
        text-decoration: underline;
        color: red;
        padding-bottom: 20px;
    }

    .menu-edit-table td {
        word-wrap: unset;
        margin: 3px 15px;
        padding: 5px 10px;
        border-bottom: 1px solid lightgray;
    }

.fa-trash {
    color: red;
    font-size: x-large !important;
}

.edit-td {
    color: green;
    font-size: x-large !important;
}

.edit-td:hover {
        color: blue;
    }

.fab {
    font-size: 60px;
}

.menuAddForm {
    width: 600px;
    align-self: center;
    font-size: 1.3em;
}

    .menuAddForm label {
        font-weight: bold;
    }

    .menuAddForm input {
        width: 100%;
        background-color: #f8f8f8;
        border: 2px solid #ccc;
    }

    .menuAddForm textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }

.food-order-cart {
    display: inline-block;
    margin: 0 20px 0 100px;
    padding: 20px;
}

.order-item-table {
    margin-top: 20px;
    font-size: 20px;
}

    .order-item-table th {
        text-align: center;
    }


    .order-item-table td {
        padding-right: 40px;
    }

.submit-order-button {
    background-color: darkred !important;
    padding: 4px 6px;
    color: white !important;
    font-size: 1.3em;
    margin: 10px 20px 0 0;
}

    .submit-order-button:hover {
        background-color: green !important;
    }

/*google map api*/
#map {
    height: 400px;
    width: 400px;
    position: fixed;
}

/*.row {
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
}*/

/*gallery*/
.grid-gallery {
    line-height: 0;
    column-gap: 0px;
    /*    width: 100%;
    height: auto;*/
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}



.restaurant-reviews {
    width: 90vw;
    margin-top: 150px;
    margin-bottom: 50px;
}

    .restaurant-reviews h2 {
        font-size: 2.2em;
    }

    .restaurant-reviews h3 {
        color: darkred;
    }

    .restaurant-reviews p {
        font-style: italic;
        font-size: 1.2em;
        line-height: 2em;
    }

.leave-review {
    width: 75%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}
