<div class="non-sidebar-page">
    <div class="text-center">
        <h1 class="page-titles">Order from Here!</h1>
     </div>
    <div class="colum-mi row" style="margin:100px;">
      <div class="col-images">
          <a target="_blank" href="https://www.grubhub.com/restaurant/ramen-okidoki-10603-bellaire-blvd-houston/1532132">
          <img src="~/images/Grubhub.gif" style="width:100%"/>
          </a>
     </div>
    <div class="col-images">
          <a target="_blank" href="https://www.ubereats.com/store/ramen-okidoki/Hpm7RuQ_QN-BMqhe84ZBRA?diningMode=DELIVERY">
          <img src="~/images/Ubereats.gif" style="width:100%"/>
          </a>
     </div>
    <div class="col-images">
      <a target="_blank" href="https://www.doordash.com/store/ramen-okidoki-houston-616457/">
          <img src="~/images/Doordash.gif" style="width:100%"/>
          </a>
    </div>
  </div>
</div>
