<div class="non-sidebar-page">
    <div class="text-center">
        <h1 class="page-titles">Order Ramen OkiDoki takeout...</h1>
    </div>
    <div class="container">
        <div class="row justify-content-md-around">
            <div class="colum-mi row" style="margin: 100px;">
                <div class="col-images  col-4">
                    <a target="_blank" href="https://www.grubhub.com/restaurant/ramen-okidoki-10603-bellaire-blvd-houston/1532132">
                        <img src="~/images/Grubhub.gif" class="takeout-pics"/>
                    </a>
                </div>
                <div class="col-images col-4">
                    <a target="_blank" href="https://www.ubereats.com/store/ramen-okidoki/Hpm7RuQ_QN-BMqhe84ZBRA?diningMode=DELIVERY">
                        <img src="~/images/Ubereats.gif"  class="takeout-pics" />
                    </a>
                </div>
                <div class="col-images col-4">
                    <a target="_blank" href="https://www.doordash.com/store/ramen-okidoki-houston-616457/">
                        <img src="~/images/Doordash.gif" class="takeout-pics" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="page-titles">...from any of these fine places!</h1>
        </div>
    </div>
</div>