@model Data.Models.Gallery
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gallery";
}

<h2> Gallery </h2>

<div class="grid-gallery active">
<img width="413" height="270" src="~/images/gallery images/R u okidoki.jpg" />
<img width="413" height="270"src="~/images/gallery images/Mentaiko Udon.jpg" />
<img width="413" height="270" src="~/images/gallery images/okidoki x lims chicken.jpg" />
<img width="413" height="270" src="~/images/gallery images/Onigiri.jpg" />
<img width="413" height="270" src="~/images/gallery images/Pork Bun.jpg" />
<img width="413" height="270" src="~/images/gallery images/Shoyu Ramen.jpg" />
<img width="413" height="270" src="~/images/gallery images/spicy hiyashi.jpg" />
<img width="413" height="270" src="~/images/gallery images/Spicy Miso.jpg" />
<img width="413" height="270" src="~/images/gallery images/Spicy Tonkotsu.jpg" />
<img width="413" height="270" src="~/images/gallery images/Takoyaki.jpg" />
<img width="413" height="270" src="~/images/gallery images/Tonkotsu Ramen.jpg" />
</div>
