@model Data.Models.Gallery
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gallery";
}

<h2 class="page-titles"> Gallery </h2>

<div class="grid-gallery active">
<img width="413" height="270" src="~/images/GalleryImages/Ru_okidoki.jpg" />
<img width="413" height="270"src="~/images/GalleryImages/MentaikoUdon.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/okidoki_x_lims chicken.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Onigiri.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Pork_Bun.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Shoyu_Ramen.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/spicy_hiyashi.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Spicy_Miso.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Spicy_Tonkotsu.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Takoyaki.jpg" />
<img width="413" height="270" src="~/images/GalleryImages/Tonkotsu_Ramen.jpg" />
</div>
