@model Data.ViewModels.DashboardViewModel
@using (Html.BeginForm("SaveAddOnsForm", "Admin", FormMethod.Post))
{

<table>
    <tr class="form-group">
        <td>Sales Tax</td>
        <td>@Html.TextBoxFor(m => m.AddOns.SalesTaxRate)</td>
    </tr>
    <tr class="form-group">
        <td>Delivery Charge</td>
        <td>@Html.TextBoxFor(m => m.AddOns.DeliveryCharge)</td>
    </tr>
    <tr> <td colspan="2"><input type="submit" value="Submit Form" class="btn btn-primary submit-order-button" />@*<i class="fas fa-share-square"></i>*@</td></tr>
</table>
    }
