

@if (Globals.UserSignedIn)// && Globals.UserRole == Globals.UserRoles.Admin) //User.IsInRole("Admin"))
{
    <ul class="admin-nav-sidebar">

        <li class="admin-nav-item"><a class="admin-nav-link " asp-area="" asp-controller="Admin" asp-action="index">Dashboard</a></li>
                                     
        <li class="admin-nav-item"><a class="admin-nav-link" asp-area="" asp-controller="Admin" asp-action="CustomerSearch">Customers</a></li>

        <li class="admin-nav-item"><a class="admin-nav-link" asp-area="" asp-controller="Admin" asp-action="DisplayCurrentFoodOrders">Food Orders</a></li>
                                 
        <li class="admin-nav-item" ><a class="admin-nav-link" asp-area="" asp-controller="Admin" asp-action="Statistics" onclick="setActive(this);">Statistics</a></li>
                               
        <li class="admin-nav-item"><a class="admin-nav-link" asp-area="" asp-controller="Admin" asp-action="FoodMenuEdit">Edit Menu</a></li>
                                
        <li class="admin-nav-item"><a class="admin-nav-link" asp-area="" asp-controller="Admin" asp-action="WebsiteInfoEdit">Edit Info</a></li>
                                    
        <li class="admin-nav-item"><a class="admin-nav-link" asp-area="" asp-controller="MyAccount" asp-action="LogUserOut">Sign Out</a></li>

    </ul>

}

