@model Data.ViewModels.DashboardViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="BusinessLocation.PhoneNumber"></label>
        <input type="text" />
    </div>
    <div class="form-group">
        <label asp-for="BusinessLocation.BusinessName"></label>
        <input type="text" />
    </div>
    <div class="form-group">
        <label asp-for="BusinessLocation.Email"></label>
        <input type="text" />
    </div>
    <div class="form-group">
        <label asp-for="BusinessLocation.StreetAddress"></label>
        <input type="text" />
    </div> 
    <div class="form-group">
        <label asp-for="BusinessLocation.City"></label>
        <input type="text" />
    </div>  
    <div class="form-group">
        <label asp-for="BusinessLocation.State"></label>
        <input type="text" />
    </div> 
    <div class="form-group">
        <label asp-for="BusinessLocation.Zipcode"></label>
        <input type="text" />
    </div>
    <button value="DashBoard" type="submit" onclick="location.href='@Url.Action("CloseAddressForm")'" id="addfooditem"><i class="fas fa-edit"></i>Save</button>
</form>
