@model Data.ViewModels.DashboardViewModel

<div style="margin:100px 50px 0 0">

    <label content="HoursOfOperation.SundayOpen"></label>

    <label content="BusinessAddress.BusinessName"></label>

    <label content="BusinessAddress.Email"></label>

    <label content="BusinessAddress.Address"></label>

    <label content="BusinessAddress.Website"></label>

    <button value="DashBoard" type="submit" onclick="location.href='@Url.Action("DashBoard")'" id="addfooditem"><i class="fas fa-edit"></i>Edit</button>
</div>