@model Data.ViewModels.DashboardViewModel


<form method="post" style="margin:100px 50px 0 0">
    <div class="form-group">
        <label asp-for="HoursOfOperation.SundayOpen"></label>
        <input type="text" />
    </div>  
    <div style="display:inline-block"><p> To </p></div>
    <div class="form-group" style="display:inline-block">
        <label asp-for="HoursOfOperation.SundayClose"></label>
        <input type="text" />
    </div>

    <button value="DashBoard" type="submit" onclick="location.href='@Url.Action("DashBoard")'" id="addfooditem"><i class="fas fa-edit"></i>Edit</button>
</form>