@model Data.ViewModels.DashboardViewModel
<h1>Leave Reviews</h1>
<form class="leave-review" method="post">

    <div class="form-group">
        <span>
            <label for="Reviewer Name">Name</label>
            <input type="text" /> <br />
        </span>
        <label asp-for="Reviews"></label>
    </div>
    <textarea placeholder="Please leave any comments!" name="text" style="width:92%;padding:2%;height:150px"></textarea><br/>
    <button value="Home" type="submit" onclick="location.href='@Url.Action("Review")'" id="addfooditem"><i class="fas fa-share-square"></i>Submit</button>
</form>