    //Show login form


@if (Globals.UserSignedIn && Globals.UserRole == Globals.UserRoles.Admin) //User.IsInRole("Admin"))
    {
        <div class="admin-nav-sidebar">

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="FoodMenuEdit">Edit Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="FoodMenuAdmin">Menu Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AdminSignOut">Sign Out</a>
            </li>
        </div>

    }
