@page
@using RamenOkiDoki.Views.Shared.Components.Authentications
@model RamenOkiDoki.Views.RazorPages.TestModel
@{
}


<h1>Test Page</h1>

  @(await Html.RenderComponentAsync<SignIn>(RenderMode.Server))  