@using System.ComponentModel.Design
@using System.Net.Mime
@model Data.ViewModels.PhotosViewModel



<Image src="@Url.Content(@Model.CurrentCarouselImage.ImagePath)" height="400" width="500" />
<p>@Model.CurrentCarouselImage.ImageName</p>
