@using System.ComponentModel.Design
@using System.Net.Mime
@model Data.ViewModels.PhotosViewModel

@foreach (var carouselImage in @Model.CarouselImages)
{

    await Task.Delay(TimeSpan.FromSeconds(3));


    <Image src="@Url.Content(@carouselImage.ImagePath)" height="400" width="500" />
    <p>@carouselImage.ImageName</p>

}


