@{
    ViewData["Title"] = "About";
}
<div class="non-sidebar-page">
    <div class="text-center">
        <h1 class="page-titles">About Ramen OkiDoki</h1>
       
    </div>
    <div class="row" style="margin:100px;">
        <div class="col-5"> <img src="~/images/ramentic.jpg" style="width:100%"/></div>
        <div class="col-7">
            <h4>Ramen OkiDoki was established in 1804 by a group of wandering ramen cooks who had nothing better to do.</h4>
            <h4>Today, Ramen OkiDoki has grown into a multi-million dollar conglomerate.</h4>
        </div>
    </div>
</div>