@{
    ViewData["Title"] = "About";
}
<div class="non-sidebar-page">
    <div class="text-center">
        <h1 class="page-titles">About Ramen OkiDoki</h1>
        <img src="~/images/ramentic.jpg"/>
    </div>
</div>