@{
    ViewData["Title"] = "Home Page";
}

<div class="non-sidebar-page">

<div class="text-center">
    <h1 class="display-4">Welcome to Our Table</h1>
</div>
<br />
<br />
<br />

<div style="display:inline">
    <Image src="/Images/background.JPG" height="400" width="500" />

    <a href="https://www.facebook.com/okidokiramen/"><i class="fab fa-facebook-square" style="margin-left: 100px;color: blue;"></i></a>
    <a href="https://www.instagram.com/ramenokidoki/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.yelp.com/biz/ramen-okidoki-houston/"><i class="fab fa-yelp"></i></a>
</div>

</div>