@page
@using RamenOkiDoki.Views.BlazorViews
@using RamenOkiDoki.Views.Shared
@{
    //change to viewBag viewdata was throwing an exception due the vaue was null
    ViewBag.Title= "Privacy Policy";
}

<div class="non-sidebar-page">
    <h1>@ViewBag.Title</h1>

    <p>Use this page to detail your site's privacy policy.</p>

    @*calling the blazor page*@
    <component>@(await Html.RenderComponentAsync<Counter>(RenderMode.Server))</component>
    
</div>