
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "CustomerSearch";
}

<div class="right-side-content"  >
    <h2 style="text-align: center; margin-top: 20px">CustomerSearch</h2>

</div>