
@{
    ViewData["Title"] = "ModalPopup";
}

<div class="container">
    @*<div class="modal" id="login">
        <div class="modal-dialog">
            <div class="modal-content add-menu-item-control">
                <div class="modal-header">
                    <label>AddFoodItem</label>
                </div>
                <div class="modal-body">*@
                    <form method="Post">
                        <div class="form-group">
                            <label>Food Category</label>
                            <input type="text" placeholder="FoodCategory" id="FoodCategory" />
                        </div>
                        <div class="form-group">
                            <label>Dish Name</label>
                            <input type="text" placeholder="DishName" id="DishName" />
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" placeholder="Price" id="Price" />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" placeholder="Description" id="Description" />
                        </div>
                        <div class="modal-footer">
                            <button value="AddFoodItem" type="submit" onclick="OnAddMenuItemButtonClicked" id="addfooditem">Add</button>
                            <button value="Close" data-dismiss="modal" id="close">Close</button>
                        </div>
                    </form>
                @*</div>
            </div>
        </div>
    </div>
</div>*@
