
@{
    ViewData["Title"] = "Admin";
}
<div class="combo-page">

    <div class="admin-div">

        @if (!Globals.UserSignedIn || Globals.UserRole != Globals.UserRoles.Admin)//!User.IsInRole("Admin"))
        {
            <h1>Admin Only</h1>
            <br />
            //Show login form
            <p style="margin: 50px 0px 50px; font-weight: bold">User is not Signed In as Admin</p>
            <form method="Post">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" id="UserName" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="Password" />
                </div>

                <button value="AddFoodItem" type="submit" onclick="location.href='@Url.Action("AdminSignin", "Admin")'" id="addfooditem">Sign In</button>

            </form>

        }
        else
        {
            @await Html.PartialAsync("AdminPartialViewdelete")
        }

    </div>
    </div>