
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="right-side-content" >
    <h2 style="text-align: center; margin-top: 20px">Statistics</h2>

</div>